/** Cores principais site*/

$cor: rgba(255, 170, 0,1);
$cor2: rgba(252, 139, 2,1); 


$azul:rgb(123, 57, 129);
/** Cores dos textos*/
$texto_cor: rgba(0, 0, 0,1);
$texto_cor2: rgba(255, 255, 255,1);

/*Cores tabela*/
$fundo: rgb(214, 214, 214);

