@charset "UTF-8";
/** Cores principais site*/
/** Cores dos textos*/
/*Cores tabela*/
div.scroll {
  width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}

table thead {
  text-align: center;
}

table thead.orange tr {
  background-color: #730240;
  color: white;
  font-weight: bold;
}

table tbody tr {
  text-align: center;
  background-color: #d6d6d6;
  cursor: pointer;
}
table tbody tr:hover {
  background-color: #280116;
  color: white;
}

table tbody tr.selecionado {
  background-color: #280116;
  color: white;
}

body, html {
  height: 100% !important;
}

div.row.margim-bt {
  margin-bottom: 15px !important;
}

div.row.margim-tp {
  margin-top: 15px !important;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*Paginação*/
div.paginador {
  margin-bottom: 40px;
  margin-top: 0px;
}
div.paginador nav {
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 30;
}

/*Estilo do componente load-page das paginas*/
div#load-page {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 200%;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  z-index: 7000;
  text-align: center;
}

/********************************************Dashboard**************************************************/
/*Menu(navbar) dashboard*/
.navbar-inverse {
  background-color: #730240 !important;
  border-color: #F0F0F0;
  min-height: 80px;
}

/*icone do menu navbar*/
.navbar-inverse .navbar-brand {
  color: #777;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 15px;
}

/* Icones dashboard*/
div.div-square:hover {
  background-color: #730240;
  color: white;
  transition: 1s;
}
div.div-square:hover h4, div.div-square:hover i {
  color: white;
}

/*Rodape da pagina*/
.footer {
  background-color: #730240 !important;
  width: 100%;
  color: black;
  padding: 20px 50px 20px 50px;
  padding-left: 20px;
}

/********************************************Consultar Clientes****************************************/
.block-text {
  width: 100%;
  border: 4px solid #fc8b02;
  position: relative;
  box-sizing: border-box;
  padding: 5px 15px;
  text-align: justify;
}
.block-text h3 {
  text-align: center;
  color: #ffaa00;
}
.block-text div#complemento-cliente p {
  text-align: justify;
}